* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main {
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
  width: 100%;
  background-color: #e1f5f9;
}

.umbrella-holder {
  position: relative;
}
.umbrella-holder-img {
  width: 420px;
  height: 360px;
  position: relative;
  max-width: 100%;
}
.color-buttons {
  display: flex;
  align-items: center;
}
.color-buttons-button {
  width: 22px;
  height: 22px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  width: 51vh;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1.2rem;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.upload-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  cursor: pointer;
  padding: 0 10px;
}

.upload-button-img,
.upload-button-spinner {
  height: 20px;
}
.upload-button-spinner {
  display: none;
  width: 20px;
}

#upload-icon {
  filter: invert(1);
}

.logo-cont {
  position: absolute;
  left: 150px;
  right: 150px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  display: none;
}
.logo-holder {
  height: 100%;
  width: 100%;
}

.spinner {
  width: 100%;
  height: 100%;
  padding: 150px;
}

.spinner img,
.loaderimg {
  width: 100%;
  height: 100%;
  animation: spin 1.25s linear infinite;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(7500%)
    hue-rotate(var(--loader-color, 150deg));
}

.loaderimg {
  filter: invert(1);
}

span {
  margin-right: 29%;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.x {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  cursor: pointer;
  background-color: #39bdf6;
  padding-right: 10px;
  display: none;
  font-size: 18px;
  font-weight: 400;
}
.xcont {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  justify-content: space-between;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-icon {
  margin-top: 3px;
  width: 20px;
  height: 20px;
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
